	@charset "utf-8";
	
	html {
		font-family: 'Dongle';
	}
	
	#findUserPw {
		width: 800px;
		margin: 0 auto;
	}
	
	.imglogo {
		display: flex;
		justify-content: center;
		margin-top: 70px;
	}
	
	.imglogo>img {
		width: 300px;
	}
	
	.message {
		font-weight: bolder;
		font-size: 35px;
		text-align: center;
		margin-top: 10px;
	}
	
	#inputId {
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
	
	input {
		width: 450px;
		font-size: 30px;
		padding: 5px 10px;
		box-sizing: border-box;
		margin: 10px;
		border: solid 1px #bbbbbd;
		border-radius: 10px;
		box-shadow: 0 1px 5px 0 rgb(0 0 0/ 5%);
		font-family: 'Dongle';
	}
	
	input:focus {
		outline-color: #1D594E;
	}
	
	input[type="text"] {
		background-image: url(${cpath}/resources/loginImg/아이디확인.png);
		background-position: 20px center;
		background-size: 30px;
		background-repeat: no-repeat;
		text-indent: 50px;
	}
	
	input:not ([type="text"] ) {
		border: solid 1px rgba(0, 0, 0, .05);
		background-color: #1D594E;
		color: white;
		cursor: pointer;
	}
	
	.otherlink {
		text-align: center;
		margin-top: 30px;
		font-size: 25px;
	}
	
	a {
		text-decoration: none;
		color: #1D594E;
	}
	
	.foot {
		margin-top: 50px;
		font-size: 20px;
		text-align: center;
		color: rgba(0, 0, 0, .6);
	}
	
	.foot>a {
		color: rgba(0, 0, 0, .6);
	}