	@charset "utf-8";
	
	html {
		font-family: 'Dongle';
	}
	
	#loginLogo {
		width: 400px;
		margin: 0 auto;
		margin-top: 50px;
	}
	
	#loginLogo>a>img {
		width: 400px;
	}
	
	#accountInput {
		box-sizing: border-box;
		width: 500px;
		margin: 0 auto;
		margin-top: 50px;
		border: 5px solid #648c85;
		border-radius: 25px;
	}
	
	.idForm {
		margin: 50px auto;
	}
	
	.id, .password {
		width: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		opacity: 1;
		border: 1px solid #ccc;
		box-sizing: border-box;
		margin: 0 auto;
		cursor: text;
	}
	
	.idText, .pwText {
		width: 200px;
	}
	
	.idForm>div>input {
		font-size: 25px;
		padding: 10px 20px;
		border: 0 solid black;
		font-family: 'Dongle';
	}
	
	.loginBtn>input {
		display: flex;
		justify-content: center;
		width: 300px;
		margin: 0 auto;
		margin-top: 30px;
		box-sizing: border-box;
		cursor: pointer;
		background-color: #1D594E;
		font-size: 30px;
		color: white
	}
	
	.idForm>div>input:focus {
		outline-style: none;
	}
	
	.focusColor {
		border: 1px solid #1D594E;
	}
	
	#menuBar {
		width: 600px;
		margin: 50px auto;
		text-align: center;
	}
	
	#menuBar>span {
		margin: 0 10px;
	}
	
	a {
		text-decoration: none;
		color: black;
	}
	
	.rememberId {
		width: 300px;
		margin: 20px auto;
		font-size: 25px;
	}