	@charset "utf-8";
	
	#userPoint {
	width: 1000px;
	margin: 0 auto;
	
}
.pointInfo {
	width:100%;
}

/*    #userPoint > h1, h2 {
      text-align: right;
   } */
.usertop {
	display: block;
	justify-content: center;
	align-items: center;
	margin: 100px auto;
	padding: 20px;
	width: 400px;
	border: 3px dotted #648C85;
	background-color: white;
	border-radius: 20px;
	font-family: 'Dongle';
	font-size: 20px;
	text-align: center;
}

.usertop_img img {
	width: 250px;
	margin: 20px;
	margin-bottom: 5px;
}

.usertop_write {
	display: flex;
	justify-content: center;
	font-size: 40px;
	font-weight: bolder;
	padding-bottom: 15px;
	font-family: 'Dongle';
	
}
.userbottom {
	width:1000px;
	height: 151px;
	display: flex;
}
.userbottom_name {
	width: 270px;
	height: 151px;
	background-color:#648C85;
	color: #ffffff;
	font-size: 30px;
	font-weight:bolder;
	text-align: center;
}
.userbottom_name > span {
	line-height: 150px;
	vertical-align: middle;
}
.nPoint {
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	width: 400px;
	height: 75px;
	background-color: #47635E;
	display: flex;
	justify-content: space-between;
}
.nPoint > span {
	color: #ffffff;
	font-size: 18px;
	font-weight: bolder;
}
.nPoint > a {
	color: #ffffff;
	font-size: 12px;
}
.nPointL {
	padding-right: 3px;
	color: #ffffff;
	font-size: 25px;
}
.userbottom_point {
	border-right: 1px solid #283835;
}
.userbottom_point > div:first-child {
	border-bottom: 1px solid #283835;
}

.donation {
	height: 151px;
	width: 210px;
	text-align: center;
	line-height: 151px;
	font-size: 30px;
	background-color: #283835;
}
.donation a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bolder;
}

.first_surveyBottom {
	width: 500px;
	margin: auto;
}
.first_survey {
	padding-top: 300px;
}
.first_surveyTop {
	justify-content: center;
	text-align: center;
	color: #03C75A;
	font-size: 40px;
	padding-bottom: 50px;
}


.donation>a:hover, span>button:hover {
	color: #47635E;
	transition: all 0.7s;
	cursor: pointer;
}

/* 모달 스타일 */
.modal {
	display: none; /* 모달을 기본적으로 숨김 */
	position: fixed;
	z-index: 1;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

/* 모달 내용 스타일 */
.modal-content {
	margin: 15% auto;
	width: 500px;
}

#gradeForm>div>span {
	font-size: 40px;
	margin-left: 100px;
	box-sizing: border-box;
}

span>img {
	width: 30px;
}

#gradeForm > img {
	width: 500px;
}

#open-modal {
	background-color: #648C85;
	padding: 10px;
	border: 0px;
	color: white;
	font-family: 'Dongle';
	font-size: 25px;
	margin-top: 15px;
}

.usertop_write_grade {
	color: #648C85;
}

.gradeForm {
	position: absolute;
	top: 60px;
}