.   @charset "utf-8";
   
   .surveyList_start>img {
      width: 600px;
   }
   
   .surveyList.surveyTitle.question {
      font-size: 100%;
   }
   
   .surveyList_wrap {
      margin: 0px auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 40px;
   }
   
   .example_wrap {
      width: 100%;
      height: 100%;
      margin-left: 20px;
   }
   
   .button_wrap {
      margin: 0px auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   
   .surveyList.item {
      width: 100%;
   
   }
   
   .surveyList.surveyTitle {
      box-sizing: border-box;
      font-size: 30px;	
      font-weight: bold;
      padding: 30px;
      text-align: left;
   }