	@charset "utf-8";
	
	.complete_wrap {
		width: 700px;
		margin: 25px auto;
		align-items: center;
		text-align: center;
		border: 5px solid #eee;
		padding-bottom: 20px;
	}
	
	.complete_wrap>img {
		width: 700px;
	}
	
	.complete_wrap>form>input[type="number"] {
		width: 300px;
		height: 50px;
	}
	
	.complete_wrap>form>input[type="submit"] {
		background-color: #1D594E;
		color: white;
		height: 55px;
		border: 0px solid white;
	}
	
	.surveyCompleteBanner {
      display: flex;
      justify-content: center;
      align-items: center;
   }
	