	@charset "utf-8";
	
	body {
		background-color: #f5f6f7;
	}
	
	#company_root {
		width: 550px;
		margin: auto;
		justify-content: center;
		padding: 10px;
	}
	
	table.companyView {
		border-collapse: collapse;
	}
	
	.companyView  th, td {
		border: 1px solid black;
		padding: 10px;
		text-align: center;
	}
	
	.img_back {
		padding-bottom: 20px;
	}
	
	.img_back>a {
		font-size: 25px;
		text-decoration-line: none;
		color: black;
	}
	
	.img_back>a>img {
		padding-right: 5px;
		width: 25px;
	}
	
	.company_Modify input {
		width: 450px;
		height: 45px;
		border: 1px solid #dadada;
		margin-bottom: 10px;
		font-size: 15px;
		color: grey;
	}
	
	.company_Modify select {
		width: 450px;
		height: 45px;
		border: 1px solid #dadada;
		margin-bottom: 10px;
	}
	
	.company_Modify option {
		color: grey;
	}
	
	.company_Modify span {
		padding-left: 5px;
		font-weight: bolder;
	}
	
	.company_Modify p {
		margin: 5px;
	}
	
	.company_Modify p textarea {
		width: 443px;
		height: 250px;
		border: 1px solid #dadada;
	}
	
	.companyModi_button input {
		width: 450px;
		height: 45px;
		background-color: #1B434A;
		border: 1px solid #1B434A;
		text-align: center;
		color: white;
		font-size: 20px;
		cursor: pointer;
	}
	
	.companymodi_option {
		color: grey;
		font-size: 15px;
	}
	
	.company_Modify h1 {
		padding-bottom: 20px;
	}
	
	.companyModi_button button {
		width: 450px;
		height: 45px;
		background-color: #1B434A;
		border: 1px solid #1B434A;
		text-align: center;
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-bottom: 70px;
	}
	
	
	
	